/* style part start here */


/* reset code start here */
*{
    margin: 0px;
    padding: 0px;
    
}
/* reset code end here */


/* global css */
*{
    font-family: 'Work Sans', sans-serif;
}
/* global css */


/* header part start here */
header{
    width: 100%;
    height: 70vh;
    background-image: url(./images/banner/banner3.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.content-container{
    width: 400px;
    margin-right: 120px;
    text-align: right;

}
.content-container .content-title{
    font-size: 48px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
}
.content-container .content-desc{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.content-container button{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #005FAC;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
}
/* header part end here */









/* main secton start here */
main{
    width: 85%;
    margin: 120px auto;
}




/* failure section start here */
.failure-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 300px;
}

.failure-section .left-part img{
    width: 450px;
}
.failure-section .right-part{
    width: 350px;
    text-align: left;
    margin-top: 80px;
}
.failure-section .right-part h3{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.failure-section .right-part p{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 20px;
}
.failure-section .right-part ul li{
    list-style: none;
    margin: 8px 0px 8px 8px;

}
.right-part ul li .fa-check{
    color: green;
    margin-right: 4px;
}
/* failure section end here */



/* plan section start here */
.plan{
    width: 85%;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
}
.plan span{
    width: 110px;
    height: 2px;
    background-color: black;
    margin-right: 60px;
    margin-bottom: 20px;
}
.plan h2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.skills{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 25px 0px;
}
.skill h4{
    font-weight: 700;
    font-size: 22px;
    margin: 8px 0px;
}
.skill p{
    font-size: 18px;
    color: #737272;
}
/* plan section end here */



/* ......this code as a optional for bonus mark. that's why i a'm doing this........ */
/*..................optional section start here.......................... */
.post-section{
    width: 100%;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
}
.post-section h2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.post-section span{
    width: 170px;
    height: 2px;
    background-color: black;
    margin-left: 120px;
    margin-bottom: 20px;
}
.posts{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.post{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 1px solid gray;
  
   
}

.post .img-box{
    width: 100%;
    margin-bottom: 8px;

}
.img-box img{
    width: 100%;
}
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.content-box h4{
    font-size: 14px;
    /* color: #737272; */
    color: black;
    font-weight: 100;
    transition: 2s;
}
.content-box ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}
.content-box ul li{
    list-style: none;
    margin: 4px 8px;
}
.post1{
    margin-bottom: 60px;
}
.post2{
    margin-top: 60px;
}
.post3{
    margin-bottom: 60px;
}
.post4{
    margin-top: 60px;
}
/* ..................optional section end here........................... */



/* call section start here */
.call-section{
    width: 80%;
    margin: 120px auto;
    background: linear-gradient(to right, rgb(0, 128, 0,0.8), rgb(0, 0, 0,0.4)) ,url(./images/call-section/watch.png) ;
    border-radius: 8px;
}
.call-section .content-box{
    width: 25%;
    padding: 62px;
}
.call-section .content-box h2{
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
} 
.call-section .content-box button{
    width: 130px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #005FAC;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
    margin-top: 15px;
}
/* call section end here */

/* main secton end here */






/* footer part start here */
footer{
    width: 100%;
    height: 35vh;
    background: #151414;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer .left-div{
    width: 350px;
}
footer .left-div h2{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
    text-transform: capitalize;
}
footer .left-div p{
    font-size: 12px;
    margin: 12px 0px;
}
footer .left-div ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
footer .left-div ul li{
    list-style: none;
    margin-right: 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .left-div ul li .fa-brands{
    font-size: 18px;
}

footer .right-div{
   width: 350px;
}
footer .right-div h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
    text-transform: capitalize;
}
footer .right-div input[type=text]{
    width: 250px;
    padding: 16px 0px;
    padding-left: 12px;
    border-radius: 4px;
    background-color: transparent;
    /* outline: none; */
    border: none;
    border: 1px solid gray;
    color: white;

}
footer .right-div input[type=submit]{
    display: block;
    margin: 12px 0px;
    width: 150px;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    background-color: green;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
/* footer part end here */

/* style part end here */








